.App {
  text-align: left;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  max-width: 450px;
  margin: 50px;
  display: block;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(114, 14, 255);
  border-radius: 5px;
  box-shadow: rgb(190, 224, 253) 5px 5px;
}
